<footer class="site-footer">
  <div class="footer-grid">
    <div class="footer-brand">
      <span class="brand-title">Christo et Doctrinae</span>
      <p>A journal of Christian thought dedicated to theological and artistic exploration of the Christian life.</p>
    </div>
    <div class="footer-col">
      <h5>Journal</h5>
      <ul>
        <li><a href="{{ '/about/' | relative_url }}">About Us</a></li>
        <li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
        <li><a href="{{ '/series/' | relative_url }}">Series</a></li>
        <li><a href="{{ '/print-editions/' | relative_url }}">Print Editions</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Contribute</h5>
      <ul>
        <li><a href="{{ '/submissions/' | relative_url }}">Submit Writing</a></li>
        <li><a href="{{ '/submissions/#art' | relative_url }}">Submit Art</a></li>
        <li><a href="{{ '/submissions/#guidelines' | relative_url }}">Guidelines</a></li>
        <li><a href="{{ '/donate/' | relative_url }}">Donate</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5>Connect</h5>
      <ul>
        <li><a href="{{ '/about/#contact' | relative_url }}">Contact Us</a></li>
        <li><a href="{{ '/about/#team' | relative_url }}">Our Team</a></li>
        <li><a href="{{ '/series/holy-week-series/' | relative_url }}">Holy Week Series</a></li>
        <li><a href="{{ '/series/advent-series/' | relative_url }}">Advent Series</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Christo et Doctrinae. All rights reserved.</p>
    <p><em>Fides quaerens intellectum.</em></p>
  </div>
</footer>
